<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>library_servlet</display-name>
    <welcome-file-list>
<!--        welcomefile에 html이나 jsp파일 추가시 넣기-->
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <!--서블릿 연결해주는 코드 우리는 어노테이션 안쓰고 여기서 연동해줄거임-->
    <servlet>
        <servlet-name>findServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.FindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>application</servlet-name>
        <servlet-class>com.example.servelet_library.controller.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>application</servlet-name>
        <url-pattern>/Application</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>findRecommandServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.FindRecommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findRecommandServlet</servlet-name>
        <url-pattern>/findRecommandServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pagingServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.PagingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pagingServlet</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manage</servlet-name>
        <servlet-class>com.example.servelet_library.controller.ManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>managePagingServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.ManagePagingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>managePagingServlet</servlet-name>
        <url-pattern>/manage_paging</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>com.example.servelet_library.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateOkServlet</servlet-name>
        <servlet-class>com.example.servelet_library.controller.UpdateOkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateOkServlet</servlet-name>
        <url-pattern>/updateOkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.example.servelet_library.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>